@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .expand-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .expand-container.open {
    grid-template-rows: 1fr;
  }

  .expand-content {
    overflow: hidden;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}